@model IEnumerable<EventShare.Web.ViewModels.Event>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                Publisher
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.FullName)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="ToggleLike" asp-route-id="@item.Id" style="text-decoration: none">
                        @if (@item.Liked)
                        {
                            <img src="@Url.Content("~/img/liked.png")" title="Dislike" width="25" height="25" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/img/likeless.png")" title="Like" width="25" height="25" />
                        }
                    </a>
                    @item.LikersCount
                }
                else
                {
                    <span>
                        <img src="@Url.Content("~/img/liked.png")" title="Rating" width="25" height="25" />
                    </span>
                    @item.LikersCount
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
